@import "app/styles/console.scss";
@import "app/styles/scroll.scss";
@import "app/styles/branches.scss";

a {
  cursor: pointer;
}

h1,h2,h3,h4 {
  font-weight: 100;
}

 .nullpaddings {
  padding: 0px;
  margin: 0px;
 }
